<a href="https://colab.research.google.com/github/raghav5102/ML-prediction-models/blob/main/Flower.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FLOWER SPECIES PREDICTION USING GRADIENT BOOSTING CLASSIFIER

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('Train.csv')
df.head()

   Area_Code  Locality_Code  Region_Code  Height  Diameter  Class  Species
0       4694             17         1609     3.0       5.0      7       48
1        781              7         1380     4.0      17.0      2       54
2      21014              6         1122     3.0      11.0      1       22
3       7326              6          556     3.0      34.0      7       25
4      13122             17         1752     5.0      16.0      2      128

In [ ]:
dft=pd.read_csv('Test.csv')
dft.head()

   Area_Code  Locality_Code  Region_Code  Height  Diameter  Species
0      25836              4          903     7.5       8.0       14
1      28544             14         1576     3.0       7.0       48
2       7037             11          350    15.0      57.0       56
3      20460             17         1208     3.0       6.0      180
4      17555             14          994     4.5      22.0      225

In [ ]:
df.shape

(12666, 7)

In [ ]:
dft.shape

(29555, 6)

In [ ]:
y_train = df['Class']
X_train = df.drop('Class',axis=1)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
clf=RandomForestClassifier(n_estimators = 5000)

In [ ]:
X_test = dft

In [ ]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=5000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_test = clf.predict_proba(X_test)

In [ ]:
res = pd.DataFrame(y_test)

In [ ]:
res

              0       1         2         3       4       5         6         7
0      0.001000  0.0012  0.138493  0.004200  0.0000  0.0000  0.855107  0.000000
1      0.001540  0.0156  0.001400  0.000200  0.0000  0.0000  0.003400  0.977860
2      0.008400  0.0000  0.006200  0.832600  0.0000  0.0106  0.142200  0.000000
3      0.007200  0.0552  0.005600  0.000000  0.0008  0.0012  0.001000  0.929000
4      0.000000  0.0112  0.355800  0.013800  0.0000  0.0000  0.619200  0.000000
...         ...     ...       ...       ...     ...     ...       ...       ...
29550  0.000200  0.3060  0.466467  0.036400  0.0000  0.0000  0.138133  0.052800
29551  0.003333  0.8176  0.015200  0.000600  0.0000  0.0000  0.002000  0.161267
29552  0.000200  0.0140  0.127076  0.386724  0.0000  0.0022  0.468800  0.001000
29553  0.004200  0.0014  0.051600  0.639200  0.0000  0.0024  0.301200  0.000000
29554  0.004200  0.0000  0.020400  0.893600  0.0000  0.0018  0.080000  0.000000

[29555 rows x 8 columns]

In [ ]:
res.to_csv('Flower.csv',index=False)
!cp Flower.csv "drive/My Drive/"

In [ ]:
def rf_feat_importance(m, df):
    return pd.DataFrame({'cols':df.columns, 'imp':m.feature_importances_}
                       ).sort_values('imp', ascending=False)
fi = rf_feat_importance(clf, X_train); 
fi

            cols       imp
4       Diameter  0.314303
5        Species  0.161619
0      Area_Code  0.151330
2    Region_Code  0.140508
3         Height  0.124681
1  Locality_Code  0.107561

In [ ]:
to_d=['Locality_Code']
X_train=X_train.drop(to_d,axis=1)
X_test = X_test.drop(to_d,axis=1)

In [ ]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=5000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_test = clf.predict_proba(X_test)

In [ ]:
res=pd.DataFrame(y_test)

In [ ]:
res

              0       1         2        3       4       5         6         7
0      0.001800  0.0022  0.135365  0.00560  0.0000  0.0000  0.854435  0.000600
1      0.001400  0.0324  0.002800  0.00020  0.0002  0.0000  0.001600  0.961400
2      0.007400  0.0000  0.003400  0.81900  0.0000  0.0086  0.161600  0.000000
3      0.019800  0.0814  0.034600  0.00000  0.0008  0.0012  0.000200  0.862000
4      0.000200  0.0064  0.387800  0.01580  0.0000  0.0000  0.589800  0.000000
...         ...     ...       ...      ...     ...     ...       ...       ...
29550  0.001400  0.4770  0.349600  0.00260  0.0000  0.0000  0.116200  0.053200
29551  0.004533  0.8298  0.014950  0.00020  0.0002  0.0000  0.005400  0.144917
29552  0.000000  0.0006  0.074460  0.46294  0.0000  0.0000  0.460800  0.001200
29553  0.010800  0.0030  0.118400  0.32020  0.0000  0.0006  0.547000  0.000000
29554  0.002400  0.0000  0.021400  0.79075  0.0000  0.0016  0.183850  0.000000

[29555 rows x 8 columns]

In [ ]:
res.to_csv('Flower.csv',index=False)
!cp Flower.csv "drive/My Drive/"