<a href="https://colab.research.google.com/github/raghav5102/ML-prediction-models/blob/main/Tweet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TWEET SENTIMENT PREDICTION USING LABEL ENCODING

In [ ]:
import numpy as np

import pandas as pd

In [ ]:
df=pd.read_csv('trainf.csv')

df.head()

             id  ... sentiment_class
0  1.245025e+18  ...               0
1  1.245759e+18  ...               0
2  1.246087e+18  ...              -1
3  1.244803e+18  ...               0
4  1.244876e+18  ...              -1

[5 rows x 6 columns]

In [ ]:

dft=pd.read_csv('testf.csv')
dft.head()

             id  ...  original_author
0  1.246628e+18  ...        LToddWood
1  1.245898e+18  ...        iiarushii
2  1.244717e+18  ...   andreaanderegg
3  1.245730e+18  ...  TheBookTweeters
4  1.244636e+18  ...   andreaanderegg

[5 rows x 5 columns]

In [ ]:
y_train=df['sentiment_class']
X_train=df.drop('sentiment_class',axis=1)
X_train=X_train.ffill()
X_test=dft

In [ ]:
def unique_items(list1, list2):
  a = list1
  b = list2
  a.extend(b)
  return list(set(a))

to_drop=['original_author','lang','id']
X_train=X_train.drop(to_drop,axis=1)
X_test=X_test.drop(to_drop,axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder

le_modelinf = LabelEncoder()
all_titles = unique_items(list(X_train['original_text']),list(X_test['original_text']))
le_modelinf.fit(all_titles)

LabelEncoder()

In [ ]:

X_train['original_text'] = le_modelinf.transform(X_train['original_text'])

In [ ]:
X_test=X_test.ffill()

In [ ]:
X_train.head()

   original_text  retweet_count
0            965              0
1           1562              1
2           2803              0
3           3068              0
4           3770              0

In [ ]:
X_test['original_text'] = le_modelinf.transform(X_test['original_text'])

In [ ]:
X_test.head()

   original_text  retweet_count
0            131              0
1           1225              0
2           3235              0
3           1066              1
4           2049              0

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
clf=GradientBoostingClassifier(n_estimators=1000)

In [ ]:
X_train.dtypes

original_text    int64
retweet_count    int64
dtype: object

In [ ]:
clf.fit(X_train,y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=1000,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [ ]:
y_test=clf.predict(X_test)

In [ ]:
dft['sentiment_class']=y_test

In [ ]:
clf.score(X_train,y_train)

0.8219474497681607

In [ ]:
dft.head()

             id  ... sentiment_class
0  1.246628e+18  ...               1
1  1.245898e+18  ...               0
2  1.244717e+18  ...               0
3  1.245730e+18  ...               0
4  1.244636e+18  ...               0

[5 rows x 6 columns]

In [ ]:
ti_d=['original_text','lang','retweet_count','original_author']
dft.drop(ti_d,axis=1,inplace=True)
dft.head()

             id  sentiment_class
0  1.246628e+18                1
1  1.245898e+18                0
2  1.244717e+18                0
3  1.245730e+18                0
4  1.244636e+18                0

In [ ]:
dft.to_csv('Tweet.csv',index=False)
!cp Tweet.csv "drive/My Drive/"

In [ ]:
to_drop=['original_author','lang']
X_train=X_train.drop(to_drop,axis=1)
X_test=X_test.drop(to_drop,axis=1)
import pandas as pd


df= df.fillna('')
features = [ 
'id', 'original_text', 'lang', 'retweet_count', 'original_author',
       'sentiment_class']
# EDIT replace by features = [ 
#"Tumour_Types_Somatic","Tumour_Types_Germline",
#"Cancer_Syndrome","Tissue_Type", 
#"Role_in_Cancer","Mutation_Types","Translocation_Partner",
#"Other_Syndrome","Tier","Somatic","Germline",
#"Molecular_Genetics","Other_Germline_Mut"]

orders = df[features].to_dict( orient = 'records' ) # this variable is not used

from sklearn.feature_extraction import DictVectorizer
from sklearn.preprocessing import LabelEncoder

X_dict = orders # try replacing this line with X_dict = orders
vect = DictVectorizer(sparse=False)
X_vector = vect.fit_transform(X_dict)
X_vectst=vect.transform()

le = LabelEncoder()
y_train = le.fit_transform(df['sentiment_class'][:-1])


X_Train = X_vector[:-1]



from sklearn import tree

clf = tree.DecisionTreeClassifier(criterion='entropy')
clf = clf.fit(X_Train,y_train)

In [ ]:
df.columns

Index(['id', 'original_text', 'lang', 'retweet_count', 'original_author',
       'sentiment_class'],
      dtype='object')

In [ ]:
y_test=clf.predict(X_Test)

In [ ]:
y_test

array([0])