<a href="https://colab.research.google.com/github/raghav5102/ML-prediction-models/blob/main/VideoGame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PREDICT VIDEO GAMES SALES (RANK :- 47 IN MACHINEHACK HACKATHON)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('Train.csv')
df.head()

     ID CONSOLE  YEAR  ... CRITICS_POINTS USER_POINTS SalesInMillions
0  2860      ds  2008  ...       2.833333    0.303704        1.779257
1   731     wii  2012  ...      13.200000    1.640000        0.215050
2   495      pc  2019  ...       4.562500    0.006410        0.534402
3  2641     ps2  2002  ...       4.181818    0.326923        1.383964
4   811     ps3  2013  ...       2.259259    0.032579        0.082671

[5 rows x 9 columns]

In [ ]:
dft=pd.read_csv('Test.csv')
dft.head()

     ID CONSOLE  YEAR  ... RATING CRITICS_POINTS USER_POINTS
0  4310     ps2  2008  ...      T       3.928571    0.482353
1  4011     psp  2007  ...   E10+       5.538462    0.071795
2  2185     ps2  2004  ...      T       3.034483    0.062044
3  1644       x  2006  ...      E       2.913043    0.880000
4   188     3ds  2011  ...   E10+       1.162162    0.183333

[5 rows x 8 columns]

In [ ]:
y_train=df['SalesInMillions']
X_train=df.drop('SalesInMillions',axis=1)

X_test=dft

In [ ]:
X_train=X_train.drop('ID',axis=1)
X_test=X_test.drop('ID',axis=1)

In [ ]:
X_train.head()

  CONSOLE  YEAR      CATEGORY  ... RATING CRITICS_POINTS  USER_POINTS
0      ds  2008  role-playing  ...      E       2.833333     0.303704
1     wii  2012    simulation  ...   E10+      13.200000     1.640000
2      pc  2019       shooter  ...      M       4.562500     0.006410
3     ps2  2002        sports  ...      E       4.181818     0.326923
4     ps3  2013        action  ...      M       2.259259     0.032579

[5 rows x 7 columns]

In [ ]:
X_test.head()

  CONSOLE  YEAR  CATEGORY        PUBLISHER RATING  CRITICS_POINTS  USER_POINTS
0     ps2  2008    action       Tecmo Koei      T        3.928571     0.482353
1     psp  2007  strategy            Atari   E10+        5.538462     0.071795
2     ps2  2004   shooter  Electronic Arts      T        3.034483     0.062044
3       x  2006    action  Electronic Arts      E        2.913043     0.880000
4     3ds  2011    racing          Ubisoft   E10+        1.162162     0.183333

In [ ]:
X_train=X_train.fillna(method='pad')
X_test=X_test.fillna(method='pad')

In [ ]:
def unique_items(list1, list2):
  a = list1
  b = list2
  a.extend(b)
  return list(set(a))

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.exceptions import NotFittedError

le_t1v = LabelEncoder()
all_t1v= unique_items(list(X_train['CONSOLE']),list(X_test['CONSOLE']))
le_t1v.fit(all_t1v)

le_t2v= LabelEncoder()
all_t2v = unique_items(list(X_train['CATEGORY']),list(X_test['CATEGORY']))
le_t2v.fit(all_t2v)

le_t1i = LabelEncoder()
all_t1i = unique_items(list(X_train['PUBLISHER']),list(X_test['PUBLISHER']))
le_t1i.fit(all_t1i)

le_t2i = LabelEncoder()
all_t2i = unique_items(list(X_train['RATING']),list(X_test['RATING']))
le_t2i.fit(all_t2i)

LabelEncoder()

In [ ]:
X_train['CONSOLE'] = le_t1v.transform(X_train['CONSOLE'])

X_train['CATEGORY'] = le_t2v.transform(X_train['CATEGORY'])

X_train['PUBLISHER'] = le_t1i.transform(X_train['PUBLISHER'])

X_train['RATING'] = le_t2i.transform(X_train['RATING'])

In [ ]:
X_train.head()

   CONSOLE  YEAR  CATEGORY  PUBLISHER  RATING  CRITICS_POINTS  USER_POINTS
0        2  2008         7        140       1        2.833333     0.303704
1       12  2012         9        110       2       13.200000     1.640000
2        5  2019         8          8       4        4.562500     0.006410
3        7  2002        10         56       1        4.181818     0.326923
4        8  2013         0          8       4        2.259259     0.032579

In [ ]:
X_test['CONSOLE'] = le_t1v.transform(X_test['CONSOLE'])

X_test['CATEGORY'] = le_t2v.transform(X_test['CATEGORY'])

X_test['PUBLISHER'] = le_t1i.transform(X_test['PUBLISHER'])

X_test['RATING'] = le_t2i.transform(X_test['RATING'])

In [ ]:
X_test.head()

   CONSOLE  YEAR  CATEGORY  PUBLISHER  RATING  CRITICS_POINTS  USER_POINTS
0        7  2008         0        202       6        3.928571     0.482353
1       10  2007        11         21       2        5.538462     0.071795
2        7  2004         8         56       6        3.034483     0.062044
3       14  2006         0         56       1        2.913043     0.880000
4        0  2011         6        212       2        1.162162     0.183333

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
clf=RandomForestRegressor(n_estimators=5000)

In [ ]:
clf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=5000, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
y_test=clf.predict(X_test)

In [ ]:
dft['SalesInMillions']=y_test

In [ ]:
dft.head()

     ID CONSOLE  YEAR  ... CRITICS_POINTS USER_POINTS SalesInMillions
0  4310     ps2  2008  ...       3.928571    0.482353        1.747499
1  4011     psp  2007  ...       5.538462    0.071795        2.763480
2  2185     ps2  2004  ...       3.034483    0.062044        2.492136
3  1644       x  2006  ...       2.913043    0.880000        2.203211
4   188     3ds  2011  ...       1.162162    0.183333        1.947347

[5 rows x 9 columns]

In [ ]:
res=pd.DataFrame(y_test)

In [ ]:
res.head()

          0
0  1.747499
1  2.763480
2  2.492136
3  2.203211
4  1.947347

In [ ]:
res.to_csv('Videogame.csv',index=False)
!cp Videogame.csv "drive/My Drive/"

In [ ]:
def rf_feat_importance(m, df):
    return pd.DataFrame({'cols':df.columns, 'imp':m.feature_importances_}
                       ).sort_values('imp', ascending=False)
fi = rf_feat_importance(clf, X_train); 
fi

             cols       imp
6     USER_POINTS  0.355645
1            YEAR  0.153728
5  CRITICS_POINTS  0.153703
2        CATEGORY  0.107916
0         CONSOLE  0.100886
4          RATING  0.068475
3       PUBLISHER  0.059646

In [ ]:
to_d=['RATING','PUBLISHER']

In [ ]:
X_train=X_train.drop(to_d,axis=1)
X_test=X_test.drop(to_d,axis=1)

In [ ]:
X_train.head()

   CONSOLE  YEAR  CATEGORY  CRITICS_POINTS  USER_POINTS
0        2  2008         7        2.833333     0.303704
1       12  2012         9       13.200000     1.640000
2        5  2019         8        4.562500     0.006410
3        7  2002        10        4.181818     0.326923
4        8  2013         0        2.259259     0.032579

In [ ]:
clf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=5000, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
y_test=clf.predict(X_test)

In [ ]:
res=pd.DataFrame(y_test)

In [ ]:
res.head()

          0
0  1.605370
1  2.379776
2  2.795622
3  1.882698
4  1.880694

In [ ]:
res.to_csv('Videogame.csv',index=False)
!cp Videogame.csv "drive/My Drive/"

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

In [ ]:
clfd=GradientBoostingRegressor()

In [ ]:
clfd.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
y_test=clfd.predict(X_test)

In [ ]:
res=pd.DataFrame(y_test)

In [ ]:
res.head()

          0
0  1.625227
1  2.831041
2  3.108104
3  2.041267
4  1.893825

In [ ]:
res.to_csv('Videogame.csv',index=False)
!cp Videogame.csv "drive/My Drive/"

In [ ]:
def rf_feat_importance(m, df):
    return pd.DataFrame({'cols':df.columns, 'imp':m.feature_importances_}
                       ).sort_values('imp', ascending=False)
fi = rf_feat_importance(clfd, X_train); 
fi

             cols       imp
6     USER_POINTS  0.546137
1            YEAR  0.129010
4          RATING  0.116825
5  CRITICS_POINTS  0.084297
0         CONSOLE  0.071551
3       PUBLISHER  0.028632
2        CATEGORY  0.023548

In [ ]:
to_d=['CATEGORY']

In [ ]:
X_train=X_train.drop(to_d,axis=1)
X_test=X_test.drop(to_d,axis=1)

In [ ]:
clfd.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
X_train.head()

   CONSOLE  YEAR  PUBLISHER  RATING  CRITICS_POINTS  USER_POINTS
0        2  2008        140       1        2.833333     0.303704
1       12  2012        110       2       13.200000     1.640000
2        5  2019          8       4        4.562500     0.006410
3        7  2002         56       1        4.181818     0.326923
4        8  2013          8       4        2.259259     0.032579

In [ ]:
y_test=clfd.predict(X_test)

In [ ]:
res=pd.DataFrame(y_test)

In [ ]:
res.head()

          0
0  1.773037
1  2.479962
2  2.559632
3  1.806418
4  1.545569

In [ ]:
res.to_csv('Videogame.csv',index=False)
!cp Videogame.csv "drive/My Drive/"